
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://threejs.org/build/three.js"></script>
    <script src="static/TrackballControls.js"></script>
    <script src="static/main.js"></script>
    <style>
      body {
      font-family: Monospace;
      background-color: #f0f0f0;
      margin: 0px;
      overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div style="zorder:1">
      <button id="toggle_button">Toggle</button>
      <button id="reset_button">Reset</button>
      <input type="range" min="-100" max="100" value="0" id="dt_slider">
    </div>
  </body>
</html>
